.analyseEmoji{
    font-size:8em;
    text-align: center
}

.analyseMessage{
    text-align: center;
}

.divCenter {
    margin: 0 auto;
}

.spinnerContainer {
    width: 30px;
    margin: 20px auto;
}