<div class="ms-Pivot ">
  <ul class="ms-Pivot-links">
    <li ng-repeat="tab in vm.tabs" ng-click="vm.selectTab(tab)" class="ms-Pivot-link" ng-class="vm.selectedTab == tab ? 'is-selected': ''"
      data-content="{{tab.content}}" title="{{tab.title}}" tabindex="1">
      <!--<i class="ms-Icon ms-Icon--{{tab.icon}}" aria-hidden="true"></i>-->
      {{tab.title}}
    </li>
  </ul>
  <div ng-repeat="tab in vm.tabs" class="ms-Pivot-content" data-content="{{tab.content}}">
    <div ng-switch="tab.content">
      <div class="ms-u-textAlignCenter" ng-if="vm.state[tab.content].status == 'loading'">
        <div class="spinnerContainer">
          <div class="ms-Spinner ">
          </div>
        </div>
        <div>Loading something awesome...</div>
      </div>
      <!-- Unified -->
      <div ng-switch-when="unified">

      </div>

      <!-- Analyse -->
      <div ng-switch-when="analyse">
        <div class="analyseEmoji">
          {{vm.analysis.emoji}}
        </div>
        <div class="analyseMessage">
          {{vm.analysis.score}}
          <p> {{vm.analysis.message}}</p>
        </div>
      </div>

      <!-- Canned -->
      <div ng-switch-when="canned">
        <div ng-repeat="card in vm.cannedCards">
          <button name="{{card.title}}" ng-click="vm.addCannedMail(card)"><h1>{{card.title}}</h1><p>{{card.content}}</p></button>
        </div>
      </div>

      <!-- default -->
      <div ng-switch-default>
        {{tab.title}}
      </div>

    </div>
  </div>
</div>